.btn{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 0.9em;
    font-weight: bold;
    padding: 8px 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    transition-duration: 0.3s;
    color: #ffffff;
    &.green {
      background: #10ac84;
      &:hover{
        background: #1dd1a1;
      }
    }
    &.blue {
      background: #2e86de;
      &:hover{
        background: #54a0ff;
      }
    }
    &.darkBlue {
      background: #3c5d96;
      &:hover{
        background: #4b74b7;
      }
    }
    &.red {
      background: #d05c45;
      &:hover{
        background: #ef6951;
      }
    }
    &.orange {
      background-color: orange;
      &:hover{
        background-color: rgb(230, 177, 80);
      }
    }
    &.dashboard {
      white-space: nowrap;
      position: relative;
      padding: 5px 10px;
      background: var(--blue);
      text-decoration: none;
      color: var(--white);
      border-radius: 6px;
      &:hover {
        background-color: var(--black2);
      }
    }
  }