.new-requirement {
    .form {
        display: flex;
        flex-direction: column;
        .grid {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .buttons {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
        .button {
            margin-top: 20px;
        }
        
    }
}