.tariffs {
    display: flex;
    .tariffsBx {
        width: 100%;

        .top {
            display: flex;
            justify-content: space-between;
        }
        .table {
            margin-top: 20px;
        }
    }
}