.status {
  white-space: nowrap;
  text-align: center;
  padding: 2px 6px;
  font-weight: bold;
  color: #ffffff;
  background: #b3b3b3;
  &.andamento {
    background: #2e86de;
  }
  &.vencido {
    background: orange;
  }
  &.perdido{
    background: #d05c45;
  }
  &.ganho {
    background: #10ac84;
  }
  &.aguardando {
    background: #57aebd;
  }
  &.none {
    background: #565656;
  }
}