.home {
    display: flex;
    .homeBx{
      width: 100%;
      .containerBx {
        // border: 0.5px solid var(--blue);
        // border-top: 5px solid var(--blue);
        // border-bottom: 2px solid var(--blue);

        .rdrDefinedRangesWrapper {
          display: none;
        }

        .rdrWeekDays span:first-child {
          margin-right: 6px;
        }

        .buttons {
          margin-top: 15px;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          .boxButtons {
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
        }

        .top {
          display: flex;
          justify-content: space-around;
          gap: 20px;
          flex-wrap: wrap;
          align-items: center;
        }

        .bottom {
          margin-top: 15px;
        }
      }
      .charts {
        display: flex;
        padding: 20px;
        gap: 20px;
      }
  
      .charts {
        padding: 5px 20px;
      }
  
      .listContainer {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        margin: 20px;
  
        .listTitle {
          font-weight: 500;
          color: gray;
          margin-bottom: 15px;
        }
      }
    }
  }