.form{    
    display: flex;
    flex-direction: row;
    align-items: center;
    .textField {
        margin: 2px;
    }
    .formBox{
        display: flex;
        flex-direction: column;
    }
}
.occupancy, .infoApp {
    font-size: 12px;
}
.infoAppBox {
    display: flex;
    &>div {
        margin-right: 15px;
    }
}

.pos-form {
    display: flex;
    .daily-courtesy {
        display: flex;
        align-items: center;
        
    }
}

.checkbox-staff {
    display: flex;
    align-items: center;
}

.client_name {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    p {
        font-size: 20px;
        font-weight: bold;
        color: #9c9c9c;
    }
}
